.home-page {
	background: linear-gradient(to top, #ccffff 0%, #ffffff 100%);
	height: 100%!important;
	text-align:  center;
	width: 100%;
	max-width: 1400px;
	margin: auto;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%, 0);
}

.myInput {
	border: none;
	background: #fff;
	border-bottom: 1px solid #ccc;
	padding: 8px;
	width: 100%;
}

.myInput:focus {
	border: none;
	outline: none;
	border-bottom: 1px solid #490c99;
}

.lefter {
	text-align: center;
} 

.forms {
	display: flex;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	justify-content: space-between;
}

input[type="file"] {
	display: inline;
	position: absolute;
	left: 12px;
	width: 20px!important;
	height: 30px;
	opacity: 0;
}

.uploadButton {
display: inline;
border: 0px;
margin: 0px;
padding: 5px;
font-size: 20px;
height: 30px;
border-radius: 50%;
cursor: pointer;
}

.main {
	display: flex;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #ccffff 0%, #ffffff 100%);
	padding-right: 10px;
	padding-top: 10px;
	max-width: 1400px;
	margin: auto;
	overflow: hidden;
}

.spinner {
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}


.mynavbar {
	width: 25%;
}

.menu {
	padding: 0;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	width: 100%;
	color: #000;
}



.active-nav-link {
	border-right: 5px solid  #000;
	background: #fff;
	color:  #000!important;
	text-decoration: none;
}

.navlink {
	padding: 10px;
	width: 100%;
	text-decoration: none;
	color:  #575757;
	opacity: 1;
}

.navlink:hover {
	padding: 10px;
	text-decoration: none;
	background: #fff;
	color:  #000!important;
	text-decoration: none;
}

.user {
	padding: 10px;
	display: flex;
	width: 100%;
}

.profile-pic {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.navbar-ad {
	width: 100%;

}

.update-profile {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}




@media screen and (max-width:1200px) {
	.main {
		overflow-y: hidden!important;
	}
	
	.mynavbar {
		width: 	25%!important;
	}


}	